.App{
 width: 100%;
}

.container {
 height: 100%;
 width: 100%;
}

.inputContainer {
 display: grid;
 place-items: center;
 margin-top: 10vh;
}

.programmeInput {
 height: 50px;
 width: 600px;
 font-size: 26px;
 border: 1px solid lightgray;
 border-radius: 4px;
 text-align: center;
}

.imgContainer {
 display: grid;
}

/* .progCard {
 transition: transform 0.2s;
 /* border-radius: 10px; */

.card {
 transition: transform 0.2s;
}

.card:hover {
 cursor: pointer;
 transform: scale(1.2);
 z-index: 100;
}

/* .progCard:hover {
 cursor: pointer;
 transform: scale(1.2);
} */

.flightContainer {
   padding: 2vh;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.flight {
   width: 75%;
   height: 150px;
   margin-left: 40px;
   background-color: #C1C1C1;
   border-radius: 25px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.departTime {
   font-size: 40px;
   margin-left: 10px;
   padding-right: 2vw;
}

.departure {
   font-size: 35px;
   padding-right: 2vw;
}

.arrival {
   font-size: 35px;
   padding-right: 2vw;
}

.arrivalTime {
   font-size: 40px;
   }
